<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
    <ion-buttons slot="end">
        <span (click)="navigateToDetails()">
            <ion-icon slot="start" name="person"></ion-icon> 
        </span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div style="padding: 5px;border: 1px solid;margin-top: 4px;cursor: pointer" *ngFor="let participante of participantes" (click)="navigateToDetails(participante.id)">
      <p>{{ participante.id }}</p>
      <p>{{ participante.matricula }}</p>
      <p>{{ participante.sigla }}</p>
      <p>{{ participante.nascimento }}</p>
    </div>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
