<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Interpolação -->
    {{ name }}

    <!-- Attribute Binding -->
    <span [innerHTML]="name"></span>
    <span [style.color]="'red'" [style.font-size.px]="30">Teste 1</span>

    <div>
      <!-- Binding em evento -->
      <button (click)="div1ativa = !div1ativa">Ativa/inativa div 1</button>
      <br>
      <button (click)="div2ativa = !div2ativa">Ativa/inativa div 2</button>
    </div>

    <!-- Attribute Bind Class -->
    <div *ngIf="div1ativa == true" [class.active]="div1ativa == true">Inativa</div>
    <div [class.active]="div2ativa == true">Ativa</div>

    <div>
      <button (click)="changeName()">
        Change Name
      </button>
    </div>
    <div>
      <input type="text" [(ngModel)]="model.name">
      <br>
      <input [disabled]="!isAdmin" [class.disabled]="!isAdmin" type="text" [(ngModel)]="model.username">
      <br>
      <input type="password" [(ngModel)]="model.password">
      <br>
      <button (click)="submit()">
        Submit
      </button>
    </div>
</ion-content>
