.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

div {
  color: gray;

  &.active {
    color: black;
  }
}

input {
  color: black;
  border: 1px solid black;

  &.disabled {
    color: #eee;
    border: 1px solid #eee;
  }
}